.filter-list.uicommons_selector {
  display: flex;
  flex-flow: column nowrap;
}

.filter-list.uicommons_selector > input {
  flex: 0 0 auto;
  margin: 0.5rem 0 0.75rem 0;
  font-size: 0.75rem;
}

.filter-list.uicommons_selector .mode-selection {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.filter-list.uicommons_selector .mode-selection > .button {
  flex: 1 1 auto;
  margin: 0 0.5rem;
  padding: 0.5rem;
  text-align: center;
  background-color: var(inactive-bg);
}

.filter-list.uicommons_selector > ul {
  position: static;
  max-height: 100%; /* FIXME: problematic, until flex layout lands in core */
  overflow: auto;
}

.filter-list.uicommons_selector .mode-selection > .button:first-child {
  margin-left: 0;
}

.filter-list.uicommons_selector .mode-selection > .button:last-child {
  margin-right: 0;
}

.filter-list.uicommons_selector .mode-selection > .button.active-mode {
  background-color: var(highlight-bg);
}
